@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
h2, h3, h4{
    text-align: center;
    margin: 5px;
}
.logo{
    margin-left:20px;
    height:70px;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    cursor:pointer;
    text-align: left;
    transition:.2s;
}
.wrapper{
    margin: 0px 10%;
}
.navbar{
    position:fixed;
    height:100px;
    z-index:1000;
    width:100%;
    display:flex;
    justify-content:left;
    background-color:var(--col-bg-toolbar);
    transition:.4s;
    background-color: rgba(255, 0, 0, 0);
}
.navbar.open{
    box-shadow:none;
    transition-delay:0s
}
.menu-item{
    margin:0px 8px;
    color: #fff;
    cursor:pointer;
    position:relative;
    text-decoration:none;
    padding: 12px 8px;
    transition: .2s;
}
.navbar>div{
    position:absolute;
    right:28.6666666667px;
    display:flex;
    top:50%;
    font-size: 18px;
    transform:translateY(-50%)
}
.menu-item:hover{
    opacity: 0.5;
}
.logo{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    display:flex;
    align-items:center;
}
.menu-items > i{
    display: none;
    font-size: 25px;
    transition: .3s;
}
#menu-small{
    display: none;
}
@media only screen and (max-width: 750px){
    .menu-items > i {
        display: initial;
    }
    .menu-items > a{
        display: none;
    }
    #menu-small{
        background-color: #152349;
        top: 80px;
        padding: 10px;
        width: 100%;
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .3s;
    }
    .gallery{
        width: 100% !important;
    }
}

.colored{
    background-color: #152349;
    height: 80px;
}
.colored > a > img{
    height: 60px;
}
.colored > *, .colored > * > *{
    color: white;
}
#banner{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.6);
}
#page-title{
    position: absolute;
    top: 50vh;
    margin: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    text-align: center;
    width: 80%;
}
@media only screen and (max-width: 800px){
    #page-title{
        font-size: 40px;
    }
}

.gallery{
    position: relative;
    margin: auto;
    width: 75%;
    background-color: #152349;
    box-sizing: border-box;
}

#slidecontainer {
    height: 400px;
}

.slide{
    display: none;
    height: 100%;
}

.slide > img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.thumbscontainer {
    height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
}

.thumbs {
    width: fit-content;
    height: 100px;
    display: flex;
}

.thumbnail{
    height: 100px;
    float: left;
}

.pointer{
    cursor: pointer;
}

.next, .prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 15px;
    margin-top: -50px;
    color: #ededed;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.4);
}

.next:hover, .prev:hover{
    background-color: rgba(0, 0, 0, 0.9);
}

.next{
    right: 0%;
    border-radius: 10px 0 0 10px;
}

.prev{
    left: 0%;
    border-radius: 0 10px 10px 0;
}

#caption{
    text-align: center;
    color: #ededed;
    padding: 5px;
}
footer{
    height: 100px;
    background-color: #40444f;
    margin-top: 40px;
    padding: 20px;
}
.footer-icons{
    text-align: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: 120px;
    float: right;
}
.footer-icons img{
    text-align: right;
    max-height: 50px;
    max-width: 50px;
    transition: 0.2s;
}
.footer-icons img:hover{
    filter: brightness(.8);
}
.leaders{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.leader{
    width: 250px;
    min-width: 200px; 
}
.leader > div{
    max-width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    overflow: hidden;
}
.leader > div > img{
    width: 100%;
    border-radius: 10px;
}
.leader > div:hover{
    cursor: pointer;
    filter: brightness(0.6);
}
.section{
    margin-top: 40px;
}
.wrapper > p{
    margin-bottom: 40px;
}
.button{
    color: black;
    transition: .3s;
    text-decoration: none;
    border: 3px solid #152349;
    padding: 8px 12px;
    margin: 10px;
    border-radius: 8px;
    display: inline-flex;
}
.button:hover, .button:focus{
    color: white;
    background-color: #152349
}
.advisor{
    color: white;
    float:left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.advisor > p{
    margin: 8px 0px;
}
@media only screen and (max-width: 500px){
    .advisor{
        float:none;
        text-align: center;
        margin: 0px;
    }
    .footer-icons{
        float: none;
        justify-content: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    footer{
        height: auto;
    }
}
tr{
    width: 100%;
}
td{
    width: 33%;
    text-align: center;
}
table{
    width: 100%;
}
li{
    margin-top: 15px;
}